@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-1Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-2ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-3Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-4Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-5Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-6SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-7Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-8ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-9Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
body {
    font-family: 'Freesentation', sans-serif;
    font-weight: 100;
    color: #111111;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

.nav-container {
    font-family: 'Freesentation', sans-serif;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: 30px auto;
    padding: 0 20px;
    top: 0;
    z-index: 1000;
}

.nav-link {
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    text-decoration: none;
}

.wrapper {
    padding-top: 120px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding-bottom: 100px;
    width: 100%;
    text-align: left;
}

.main-heading {
    font-size: 71px;
    font-weight: 600;
    line-height: 86px;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    width: 48%;
    margin-bottom: -200px;
    text-align: center;
}

.portfolio-item:nth-child(even) {
    margin-top: 350px;
}

.portfolio-image {
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.portfolio-title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 24px;
}

.portfolio-subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #666666;
    margin-top: 8px;
}

.about {
    padding-top: 192px;
    padding-bottom: 230px;
    width: 100%;
    text-align: left;
}

.about-text {
    font-size: 21px;
    font-weight: 300;
    line-height: 35px;
    color: #333333;
}

.more-link {
    display: block;
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    margin-top: 31px;
    text-decoration: none;
}

.contact {
    padding-top: 3px;
    padding-bottom: 4px;
    width: 100%;
    text-align: left;
}

.contact-text {
    font-size: 21px;
    font-weight: 300;
    color: #333333;
}

.contact-subtext {
    color: #666666;
}

.contact-email {
    font-size: 70px;
    font-weight: 600;
    margin-top: 4px;
    color: #111111;
}

.footer {
    height: 98px;
    padding-top: 40px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.footer p {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 1200px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-container {
        padding: 20px;
    }

    .portfolio-item {
        width: 48%;
    }
    
}

@media (max-width: 768px) {
    .main-heading {
        font-size: 48px;
        line-height: 60px;
    }

    .portfolio-item {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px; /* 세로 여백 추가 */
    }

    .contact-email {
        font-size: 36px;
    }

}