@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-1Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-2ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-3Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-4Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-5Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-6SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-7Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-8ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('./src/font/Freesentation-9Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
    font-family: 'Freesentation', sans-serif;
    word-break: keep-all;
}

body {
    font-family: 'Freesentation', sans-serif;
    font-weight: 100;
    color: #111111;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

.nav-container {
    font-family: 'Freesentation', sans-serif;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 30px 0px 20px 0px;
}

.nav-link {
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    text-decoration: none;
}

.wrapper {
    padding-top: 120px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding-bottom: 100px;
    width: 100%;
    text-align: left;
}

.main-heading {
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    width: 48%;
    max-width: 540px;
    position: relative;
    text-align: center;
    margin-bottom: -250px;
    padding-bottom: -200px;
}

.portfolio-wrapper:hover {
    transform: scale(.95);
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
    cursor: pointer;
}

.portfolio-wrapper {
    border-radius: 24px;
    overflow: hidden;
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.portfolio-wrapper:hover .portfolio-image {
    transform: scale(1.1);
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.portfolio-item:nth-child(even) {
    margin-top: 350px;
}

.portfolio-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.portfolio-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 24px;
}

.portfolio-subtitle {
    font-size: 28px;
    font-weight: 400;
    color: #666666;
    margin-top: 8px;
}

.about {
    padding-top: 192px;
    padding-bottom: 130px;
    width: 100%;
    text-align: left;
    max-width: 760px;
    margin-top: 200px;
}

.about-text {
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    color: #333333;
}

.about-title {
    font-size: 60px;
    font-weight: 600;
    color: #333333;
}

.more-link {
    display: block;
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    margin-top: 31px;
    text-decoration: none;
}

.contact {
    padding-top: 3px;
    padding-bottom: 4px;
    width: 100%;
    text-align: left;
    max-width: 760px;
    cursor: pointer;

}

.contact-text {
    font-size: 21px;
    font-weight: 300;
    color: #333333;
}

.contact-subtext {
    color: #666666;
}

.contact-email {
    font-size: 70px;
    font-weight: 600;
    margin-top: -24px;
    color: #111111;
}

.footer {
    height: 98px;
    padding-top: 40px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.footer p {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.copied-message {
    display: none;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.to-top-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.to-top-button.show {
    opacity: 1;
    visibility: visible;
}

#txt-arrow{
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(17, 136, 255);
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

.portfolio-description-wrapper{
    color: #111111;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: flex-start;
    margin-top: 36px;
    font-size: 24px;
    font-weight: 700;
}

.portfolio-content{
    color: #666666;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 20px 0;
}

.portfolio-content ul{
    text-align: left;
    margin:0px;
}

div{cursor: pointer;}
.main-heading:hover .highlight-lg:after{
  width:100%;
}
.highlight-lg{
  display: inline-block; 
  position: relative;
}
.highlight-lg:after{
  content:"";
  width: 0;
  height: 72px;
  display: inline-block;
  background: #d9eefc;
  position: absolute;
  bottom:0;
  left:0;
  z-index:-1;
  transition: 0.2s all;
}

.portfolio-item:hover .highlight:after{
    width:100%;
  }
  .highlight{
    display: inline-block; 
    position: relative;
  }
  .highlight:after{
    content:"";
    width: 0;
    height: 24px;
    display: inline-block;
    background: #d9eefc;
    position: absolute;
    bottom:0;
    left:0;
    z-index:-1;
    transition: 0.2s all;
  }
@media (max-width: 1200px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-container {
        font-family: 'Freesentation', sans-serif;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 1000;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        padding: 30px 20px 20px 20px;
    }

    .portfolio-item {
        width: 48%;
    }

    .about-text {
        font-size: 28px;
        font-weight: 400;
        line-height: 35px;
        color: #333333;
    }
    
    .about-title {
        font-size: 40px;
        font-weight: 600;
        color: #333333;
    }

    
}

@media (max-width: 768px) {
    .portfolio-item:nth-child(even){
        margin-top:0px;
    }
    .main-heading {
        font-size: 48px;
        line-height: 60px;
    }

    .nav-link{
        font-size: 16px;
    }
    .portfolio-item {
        margin-bottom: 100px;
        width: 100%;
    }

    .contact-email {
        font-size: 36px;
    }

    .about {
        padding-top: 0px;
        padding-bottom: 130px;
        width: 100%;
        text-align: left;
        max-width: 760px;
        margin-top: 0px;
    }
}